@import '../../../index';

.Toolbar {
  height: $ToolbarHeight;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703B09;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  box-sizing: border-box;
  z-index: 90;

  @include tabletUp() {
    padding: 0 20px;
  }

  nav {
    height: 100%;
  }

  .LeftToolbar {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .Logo {
    height: 80%;
  }

}
