@import '../../../index';

.ImageThumbnail {

  width: 150px;
  height: auto;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 1px #ccc;
  cursor: pointer;

  p {
    font-size: 0.8rem;
  }

  &:hover {
    opacity: 0.5;
  }

  @include tabletUp() {
    width: 200px;

    p {
      font-size: 1rem;
    }
  }

  @include desktopUp() {
    width: 350px;
  }

  img {
    height: auto;
    width: 100%;
    border-radius: 5px;
  }

  p {
    margin: 0;
    text-align: center;
  }
}
