@import '../../../index';

.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 90%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  border-radius: 5px;
  padding: 16px;
  left: 5%;
  top: 15%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;

  .CloseModal {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 32px;
    cursor: pointer;
  }

  @include desktopUp() {
    width: 960px;
    left: calc(50% - 480px);
  }
}

