.NavigationItem {

  margin: 0;
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: auto;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 16px 10px;
    display: block;

    &:hover,
    &:active,
    &.active {
      background-color: #8F5C2C;
      border-bottom: 4px solid #40A4C8;
      color: white;
    }
  }

  //// Mobile (min-width < 500)
  //margin: 10px 0;
  //width: 100%;
  //box-sizing: border-box;
  //display: block;
  //
  //a {
  //  color: #8F5C2C;
  //  text-decoration: none;
  //  width: 100%;
  //  box-sizing: border-box;
  //  display: block;
  //
  //  &:hover,
  //  &:active,
  //  &.active {
  //    color: #40A4C8;
  //  }
  //}
  //
  //// Desktop
  //@media (min-width: 500px) {
  //  margin: 0;
  //  display: flex;
  //  box-sizing: border-box;
  //  height: 100%;
  //  width: auto;
  //  align-items: center;
  //
  //  a {
  //    color: white;
  //    text-decoration: none;
  //    width: 100%;
  //    height: 100%;
  //    box-sizing: border-box;
  //    padding: 16px 10px;
  //    display: block;
  //
  //    &:hover,
  //    &:active,
  //    &.active {
  //      background-color: #8F5C2C;
  //      border-bottom: 4px solid #40A4C8;
  //      color: white;
  //    }
  //  }
  //}
}
