.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 30px;
}

.Success {
  background-color: #5C9210;
  color: white;
}

.Danger {
  color: #944317;
}
