@import '../../../index';

.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  flex-direction: row;
  align-items: center;
  height: 100%;


  @include tabletUp() {
    display: flex;
  }

}
