$ToolbarHeight: 56px;

$breakpointMobile: 500px;
$breakpointDesktop: 1000px;

// Media query, will apply style to screen bigger than $breakpointMobile
@mixin tabletUp() {
  @media (min-width: $breakpointMobile) {
    @content;
  }
}

// Media query, will apply style to screen bigger than $breakpointDesktop
@mixin desktopUp() {
  @media (min-width: $breakpointDesktop) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans",  sans-serif;
}
